@import-normalize;


body {
background-color: #EBD8FF;
font-family: 'Montserrat', sans-serif;
}


p,
span{
  padding: 0;
margin: 0;
}


button,
a{
  border: none;
display: block;
font-family: inherit;
cursor: pointer;
}